<!DOCTYPE html>
<html land="en">
<head>
    <meta Charset="UTF-8">
    <title>See Other with Header Change</title>
</head>
<body>
    <form method="POST" action="/bar">
        <input type="text" name="fname" title="fname">
        <input type="submit">
    </form>
</body>
</html>